@font-face {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2");
  font-display: swap;
}

body {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    min-height: 100vh;
}
