@font-face {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  min-height: 100vh;
  width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 1110px;
  margin-left: 165px;
  margin-right: 165px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.pictures_germany, .pictures_england {
  display: none;
}

img {
  display:block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}



/* Header */
.header {
  background-color: #D4E8D9;
  padding-bottom: 32px;
  padding-top: 33px;
  padding-left: 165px;
  padding-right: 165px;
  width: 100%;
  height: 100px;
}

.header_content {
  width: 1110px;
}

.nav {
  display: flex;
}

.nav_list {
  display: flex;
  margin-left: 495px;
  width: 472px;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  font-size: 20px;
  font-weight: 500;
  color: #2C2D35;
}

.nav_list-item:not(:first-child) {
  margin-left: 60px;
}

.cart {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../images/shopping-cart.svg");
}
