@font-face {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  min-height: 100vh;
  min-width: 1440px;
}
.wrapper {
  width: 1110px;
  margin-left: 165px;
  margin-right: 165px;
}

.pictures_germany, .pictures_england {
  display: none;
}

img {
  display:block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}



/* Header */
.header {
  background-color: #D4E8D9;
  padding-bottom: 33px;
  padding-top: 33px;
  padding-left: 165px;
  padding-right: 165px;
  width: 100%;
  margin: 0 auto;
}
.header_content {
  width: 1110px;
}

.nav {
  display: flex;
  align-items: center;
  /* width: 1110px; */
}
.nav_list {
  display: flex;
  width: 472px;
  margin-left: 495px;
}

.nav_link {
  font-size: 20px;
  font-weight: 500;
  color: #2C2D35;
}
.nav_list-item:not(:first-child) {
  margin-left: 60px;
}
